################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSInstallerIssue/v15
/TestService/bin/Debug
/TestService/obj/Debug
/TestSetup/Debug
